.action {

    display: inline-flex;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
    color:#010326 ;
    text-decoration: none;
    margin-right: 30px;
    

}

.action::before {
    content: "";
    background-color: #6FBFBF;
    width: 0.6em;
    height: 0.6em;
    margin-right: 0.5em;
}
