.banner {
    box-sizing: border-box;
    background: linear-gradient(to right bottom, #fff, #6FBFBF 
    );
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left:115px;
    
    
    
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    
}

.banner .box {
    margin-bottom: 40px;
}


.banner .navegation {
    display: flex;
    justify-content: space-evenly;
    width: 630px;
    
}

.banner._skills {
    height: 730px;
    padding: 0;
    

}