.button {

    display: inline-block;
    font-family: 'fira code', sans-serif;
    background-color: #6FBFBF;
    color: #010326;
    padding: 0.8em 1em;
    box-shadow: 4px 4px 0 #000;
    transition-property: background-color;
    transition-duration: 0.8s;
    margin-right: 30;
    text-decoration: none;

}

.button:hover {

    background-color:#82D9D9;
    transform: scale(1.1);
}